#tweets {
width:500px !important;
height:0px;
overflow:hidden !important;
position:relative;
margin:10px 0;
padding:0;
}

#tweets h4 {
text-align:left;
margin:10px 0;
padding:0
}

#tweets ul {
list-style:none;
width:3000px;
margin:0;
padding:0;
position:relative;
}

#tweets ul li {
width:500px;
margin:0;
padding:0;
float:left;
position:relative;
left:0;
}

#tweets ul li div, #tweets ul li div span {
width:auto;
text-align:left;
margin:0 auto;
}

#tweets ul li img {
padding-right:2px

}